<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tools_Database_Stock.Properties.Settings.Tools_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-TVGNFNP;Initial Catalog=&quot;Tools Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tools_Database_Stock.Properties.Settings.Tools_DatabaseConnectionString1"
            connectionString="Data Source=DESKTOP-TVGNFNP;Initial Catalog=&quot;Tools Database&quot;;User ID=liamadmin"
            providerName="System.Data.SqlClient" />
        <add name="Tools_Database_Stock.Properties.Settings.ToolsDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-TVGNFNP;Initial Catalog=ToolsDatabase;Integrated Security=True;User ID=liamadmin;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>